{% extends '_layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="justify-content-center align-items-center d-flex min-vh-100">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img src="{% static 'template/img/placeholderimage.jpg' %}" alt="Logo"
                                class="img-fluid px-3 px-sm-4 mt-3 mb-4">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{APP_NAME}}|Login</h1>
                                </div>
                                {% if messages %}
                                <div class="container mt-3">
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} text-center" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <form class="user" method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="exampleInputEmail"
                                            aria-describedby="emailHelp" placeholder="Enter Email Address..."
                                            name="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                    {% if form.errors %}
                                    <div class="text-danger small">
                                        {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                        <div class="text-danger small mb-1">{{ error }}</div>
                                        {% endfor %}
                                        {% endfor %}

                                    </div>
                                    {% endif %}
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'password_reset' %}">Esqueceu a senha?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'sign-up' %}">Crie uma conta!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}