{% extends '_layout.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-xl-6 col-lg-8 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="p-5">

                            <div class="text-center mb-4">
                                <h1 class="h4 text-gray-900">{{ name|default:"Redefinir Senha" }}</h1>
                                <p class="small text-muted">Defina sua nova senha para acessar o sistema</p>
                            </div>

                            <form class="user" method="POST">
                                {% csrf_token %}

                                {# Token do reset #}
                                <input type="hidden" name="token" value="{{ token }}">

                               <input type="hidden" name="email" value="{{ email }}">

                                
                          
                                <div class="form-group">
                                    <input id="password" type="password" class="form-control form-control-user"
                                        name="new_password1"required autocomplete="new-password" placeholder="Nova Senha">
                                </div>

                                    <small class="form-text text-muted">{{ password_rules|safe }}</small>
                              
                                <div class="form-group">
                                    <input id="password-confirm" type="password" class="form-control form-control-user"
                                        name="new_password2" required autocomplete="new-password"
                                        placeholder="Confirmar Senha">
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Redefinir Senha
                                </button>

                                {% if form.errors %}
                                    <div class="text-danger small mt-2">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                {{ error }}<br>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Voltar para Login</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
