   {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <a class="btn d-md-none" id="sidebarToggleHeader" aria-label="Abrir menu lateral">
                        <i class="bi bi-layout-sidebar fs-4"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 justify-content-center align-items-center">
                            {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'user-list' %}"><span class="d-none d-lg-inline text-gray-600 me-2">Lista de Usuários</span></a>
                                </li>
                            {% endif %}

                            <!-- Dropdown do perfil -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="d-none d-lg-inline text-gray-600 me-2">{{ request.user.username }}</span>
                                    <img class="img-profile rounded-circle"
                                         src="{% if request.user.profile.profile_picture %}{{ request.user.profile.profile_picture.url }}{% else %}{% static 'template/img/placeholder.jpg' %}{% endif %}"
                                         width="30" height="30" style="object-fit: cover;">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'user-profile' request.user.id %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'user-detail' request.user.id %}">Configurações</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>