{% load static %}
<div class="border-end bg-white position-relative" id="sidebar-wrapper">
    <!-- Sidebar - Brand -->
    <a class="sidebar-heading d-flex align-items-center justify-content-center mt-2 text-primary"
        href="{% url 'home' %}">
        <div class="sidebar-brand-icon me-2">
            <i class="bi bi-book  fa-2x icon-bold"></i>
        </div>
        <div class="sidebar-brand-text h3 m-0">BookCLUB</div>
    </a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div class="list-group list-group-flush " id="chats-lista" data-route="{% url 'chats' %}">
        <!-- Conteúdo AJAX será inserido aqui -->
    </div>

    <!-- Botão flutuante Criar Grupo -->
    <div class="position-absolute bottom-0 end-0 p-3">
        <div class="dropup">
            <!-- Botão principal -->
            <button class="btn btn-primary rounded-circle shadow"
                style="width:48px; height:48px; display:flex; align-items:center; justify-content:center;" type="button"
                id="floatingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v fs-5"></i>
            </button>

            <!-- Dropdown com botões -->
            <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="floatingDropdown"
                style="background:none; border:none; min-width:auto;">
                <li>
                    <a href="{% url 'selecionar_membros' %}" class="btn btn-primary rounded-circle shadow mb-2"
                        style="width:48px; height:48px; display:flex; align-items:center; justify-content:center;">
                        <i class="fa-regular fa-pen-to-square fs-5"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'search' %}" class="btn btn-primary rounded-circle shadow mb-2"
                        style="width:48px; height:48px; display:flex; align-items:center; justify-content:center;">
                        <i class="fa-solid fa-magnifying-glass fs-5"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>